@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --main: #08D9D6;
    --dark: #252A34;
    --light: #FF2E63;
    --white: #EAEAEA;
}


* {
    margin: 0;
    font-family: 'Roboto', 'Roboto-Light', 'Roboto-Regular', sans-serif;
}

::selection {
    background: var(--main);
}

body {
    background-image: linear-gradient(75deg, var(--main), var(--dark), var(--light));
    color: var(--white);
    line-height: 1.5;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light);
    border-radius: 1.5rem;
    padding: 0.5rem;
}

.section p {
    font-family: 'Roboto', 'Roboto-Light', sans-serif;
    font-size: xx-large;
    max-width: 0 auto 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2.5rem;
}

form div {
    width: 100%;
    margin-bottom: 1rem;
}

form input {
    width: 90%;
    border-radius: 1.5rem;
    border: 1px outset var(--light);
    padding: 1rem;
    font-size: 1rem;
    background-color: transparent;
    color: var(--light);
    margin: 0 auto 0 auto;
}

form input:hover {
    border: 1px solid var(--main);
}

#progressbar {
    display: grid;
    grid-gap: 0rem;
    grid-template-columns: 33fr 34fr 33fr;
    grid-template-areas: "U P R";
    height: 20px;
    background-color: var(--dark);
    margin-top: 20px;
    border-style: solid;
    border-color: var(--dark);
    width: 240px;
    border-radius: 1.5rem;
}

.progress {
    border-radius: 1.5rem;
}

#progressUnresolved {
    grid-area: U;
    background-color: var(--main);
}

#progressProccessing {
    grid-area: U;
}


#progressResolved {
    grid-area: R;
    background-color: var(--light);
}

form button {
    width: 35%;
    border-radius: 1.5rem;
    padding: 1rem;
    font-size: 0.9rem;
    background-color: transparent;
    color: var(--light);
    border: 1px solid var(--light);
    margin: 1rem auto 0.25rem auto;
}

form button:hover {
    transform: scale(1.1);
    border: 1px solid var(--main);
    color: var(--main);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.hub {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    height: 100vh;
    width: 100%;
    grid-gap: 0.2em;
}


.user {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark);
}

.user ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 00.5rem auto;
    width: 75%;
    padding: 0;
    height: 50vh;
}

.user li {
    margin: 1rem auto 1rem auto;
    width: 100%;
    text-align: center;
}

.user a {
    text-decoration: none;
    color: var(--light);
}

.user a:hover {
    text-decoration: underline;
    font-size: large;
    font-weight: bold;

}

#projects {
    text-align: center;
    width: 50%;
    padding: 0.5rem;
    font-size: 0.9rem;
    background-color: transparent;
    appearance: none;
    color: var(--light);
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--light);
}

#projects:hover {
    appearance: var(--dark);
    font-size: large;
    font-weight: bold;
}

#log-out {
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 75%;
    border: 1px solid var(--light);
    background-color: var(--white);
    color: var(--light);
}

#log-out:hover {
    transform: scale(1.1);
    border: 1px solid var(--white);
    background-color: var(--light);
    color: var(--white);
}

.task-info {
    width: 100%;
    display: grid;
    grid-template-rows: 0.15fr 1fr;
    text-align: center;
}

.bugs {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;

}

.parts {
    background-color: rgba(255, 255, 255, 0.4);
    height: 75vh;
    width: 25%;
    border: auto 2.5rem auto 2.5rem;
    border: 1px dashed var(--main);
    border-radius: 2.5rem;
}

.bug-item {
    width: 75%;
    margin: 1rem auto;
    background-color: var(--dark);
    padding: 0.5rem;
    border-radius: 1.5rem;
}

.edit-button {
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 25%;
    margin: 00.25rem;
    border: 1px solid var(--light);
    background-color: var(--white);
    color: var(--light);
}

.edit-button:hover {
    transform: scale(1.1);
    border: 1px solid var(--white);
    background-color: var(--light);
    color: var(--white);
}

#create-ticket {
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 75%;
    margin: 00.25rem;
    border: 1px solid var(--light);
    background-color: transparent;
    color: var(--light);
}

#create-ticket:hover {
    transform: scale(1.1);
    border: 1px solid var(--white);
    background-color: var(--light);
    color: var(--white);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--light);
}

.modal h3 {
    font-size: x-large;
    text-align: center;
}

#edit-form {
    padding: 0;
}

.modal-content {
    background-color: var(--white);
    margin: auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 40%;
    border-radius: 1.5rem;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#bug-status {
    text-align: center;
    width: 80%;
    padding: 0.5rem;
    font-size: 0.9rem;
    background-color: transparent;
    appearance: none;
    color: var(--light);
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--light);
}

#bug-status:hover {
    appearance: var(--dark);
    font-size: large;
    font-weight: bold;
}

.modal-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0 auto;
    width: 85%;
}

.modal-radio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem auto 0 auto;
    width: 60%;
}